/CWKTCOBX_CWKTSUBC.interface
/CWKTCOBX_EMPFILE_EMPLOYEE_WORK_AREA.interface
/CWKTCOBX_RPTFILE_BLANK_LINE.interface
/CWKTCOBX_RPTFILE_EMPLOYEE_DTL.interface
/CWKTCOBX_RPTFILE_EMPLOYEE_HDR1.interface
/CWKTCOBX_RPTFILE_EMPLOYEE_HDR2.interface
/CWKTCOBX_RPTFILE_EMPLOYEE_HDR3.interface
/CWKTCOBX_RPTFILE_EMP_TOTAL_DTL.interface
/CWKTCOBX_TODAYS_DATE.interface
