/CWKTCOBX_CWKTDATE_END-OF-MONTH-SW.listructure
/CWKTCOBX_CWKTDATE_RETURN-CODE.listructure
/CWKTCOBX_CWKTDATE_TODAYS-DATE.listructure
/CWKTCOBX_CWKTDATE_WA-EMP-HIRE-DATE.listructure
/CWKTCOBX_CWKTDATE_YRS-OF-SERVICE.listructure
/CWKTCOBX_CWKTSUBC_CALC-COMMISSION.listructure
/CWKTCOBX_CWKTSUBC_CALC-SALES.listructure
/CWKTCOBX_CWKTSUBC_EMP-TYPE.listructure
/CWKTCOBX_CWKTSUBC_RETURN-CODE.listructure
/CWKTCOBX_EMPFILE_EMPLOYEE-WORK-AREA.listructure
/CWKTCOBX_PARMINFO.listructure
/CWKTCOBX_RETURN-CODE.listructure
/CWKTCOBX_RPTFILE_BLANK-LINE.listructure
/CWKTCOBX_RPTFILE_EMP-TOTAL-DTL.listructure
/CWKTCOBX_RPTFILE_EMPLOYEE-DTL.listructure
/CWKTCOBX_RPTFILE_EMPLOYEE-HDR1.listructure
/CWKTCOBX_RPTFILE_EMPLOYEE-HDR2.listructure
/CWKTCOBX_RPTFILE_EMPLOYEE-HDR3.listructure
/CWKTCOBX_TODAYS-DATE.listructure
